name: format

on:
  workflow_call:

permissions:
  contents: read

jobs:
  treefmt:
    name: treefmt check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Run treefmt
        uses: numtide/treefmt-action@v2
        with:
          fail-on-change: true
